Dataflow/.ipynb_checkpoints/Csv_to_BQ-checkpoint.ipynb
Dataflow/.ipynb_checkpoints/Filter-checkpoint.ipynb
Dataflow/.ipynb_checkpoints/FlatMap-checkpoint.ipynb
Dataflow/.ipynb_checkpoints/ToString_Apache_beam-checkpoint.ipynb
Dataflow/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Dataflow/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
Dataflow/.ipynb_checkpoints/df-checkpoint.ipynb
Dataflow/.ipynb_checkpoints/key-checkpoint.ipynb
Webcrwaler/.ipynb_checkpoints/demo-checkpoint.ipynb
Webcrwaler/__pycache__/crawler_demo.cpython-37.pyc
Webcrwaler/__pycache__/domain.cpython-37.pyc
Webcrwaler/__pycache__/link_finder.cpython-37.pyc
Webcrwaler/__pycache__/spider.cpython-37.pyc